body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #3329;
  color: #3329;
  font-family: 'Helvetica Neue', sans-serif;
}

.info-box {
  border: 2px solid #3327;
  padding: 20px;
  text-align: center;
  background-color: #3327;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
  color: #ffa500;
}

p {
  margin: 0;
}

.answer-box {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #8899A6;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-box {
  display: none;
  margin-top: 20px;
  text-align: center;
}

.new-box a {
  color: #ffa500;
}
